.nav-bar-container{
    height: 100%;
    width: 100%;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar-container .logo-container{
    margin: 8px;
    border: 1px solid red;
}

.nav-bar-container .logo-container img{
    height: 104px;
    border: 1px solid red;
}

.nav-bar-container .footer-container{
    text-align: end;
    font-size: 16px;
    margin: 8px;
}

.nav-bar-container .footer-container .logout-icon:hover{
    cursor: pointer;
    color: var(--third-color);
    transition: 0.2s;
}